<div class="nav-bar">
  <ul class="nav-bar-items">
    <li class="nav-bar-item">
      <span><a href="http://localhost:4200/">Home</a></span>
    </li>
    <li class="nav-bar-item">
      <span>{{#link-to components}}Components{{/link-to}}</span>
    </li>
    <li class="nav-bar-item">
      <span>{{#link-to components}}Guides{{/link-to}}</span>
    </li>
    <li class="nav-bar-item">
      <span>{{#link-to components}}Guides{{/link-to}}</span>
    </li>
    <li class="nav-bar-item">
      <span><a href="http://localhost:4200/">Contact</a></span>
    </li>
  </ul>
</div>
