<div class="nav-bar">
  <ul class="nav-bar-items">
    <li class="nav-bar-item">
      <a href="http://localhost:4200/">Home</a>
    </li>
    <li class="nav-bar-item">
      <a href="http://localhost:4200/">Widgets</a>
    </li>
    <li class="nav-bar-item">
      <a href="http://localhost:4200/">Javacript</a>
    </li>
    <li class="nav-bar-item">
      <a href="http://localhost:4200/">Contact</a>
    </li>
  </ul>
</div>
