{{nav-bar}}
<br>
<br>
<div class="row">
  <div class="four columns offset-by-three">
    <h1 class="jumbotron">Hello world,</h1>
  </div>
  <div class="six columns offset-by-three">
    <p>
      Welcome to my website where I show examples of code I've written.

      I'm a big fan of Ember.js and yes of course, this site is built on it.
    </p>
  </div>
</div>

{{outlet}}
